* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 204, 252); */
}

header {
  width: 80vw;
  position: fixed;
  top: 0;
  right: 140px;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: sticky;
  width: 80vw;
  margin-top: 5px;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: rgb(28, 57, 136);
  border-radius: 20px;
}

nav ul li a {
  color: #fff;
}

section {
  text-align: center;
}

/* @media screen and (min-width: 960px) {
  main {
    color: red;
  }
} */
/* 
@media screen and (min-width: 500px) {
  main {
    color: red;
  }
}

@media screen and (min-width: 300px) {
  main {
    color: red;
  }
} */