@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: #e0e0e0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 50%;
  height: 50%;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: 0.5s all ease-in-out;
}
.hideContainer {
  left: -100%;
  display: flex;
}
.container .question {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
}
.container .option {
  padding: 10px;
  align-items: space-around;
}