* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url("background.gif");
    background-repeat: no-repeat;
    background-size: 100vmax;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    row-gap: 20px;
    column-gap: 20px;
  }
  
  .basic {
    border: 1px solid rgba(0, 0, 0, 0.18);
    width: 100px;
    height: 120px;
    text-align: center;
    /* justify-content: center; */
    vertical-align: middle;
    color: rgb(0, 0, 0);
  }
  
  .basic.flip {
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    perspective: 1000px;
  }