.day20ParentDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  overflow-y: scroll;
  margin-top: 30px;
  padding: 0px 2em;
  box-shadow: 3px 5px 5px #ff99ab;

}

.day20foodList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  margin-top: 1.5rem;
  background-color: rgb(255, 196, 206);
  width: 100%;
  color: rgb(116, 0, 20);
  border-radius: 15px;
  padding: 1.1em;
}

.day20foodList h3 {
  color: rgb(93, 2, 2);
  padding-top: 4px;
}

.day20foodList:hover {
  box-shadow: 3px 5px 5px #f40932;
  transition: 0.2s all ease-in-out;
}

/* Delete Button */

.foodListItemDelete {
  width: 5rem;
  height: 3em;
  margin-top: 4px;
  outline: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 6px;
  text-align: center;
  font-size: 16px;
}
.foodListItemDelete:hover {
  background-color: pink;
  color: white;
  font-size: 16px;
  border: 3px solid white;
}


/* Custom Scroll Bar */

.day20ParentDiv::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.day20ParentDiv::-webkit-scrollbar-track {
  background: rgba(246, 197, 236, 0.3); /* color of the tracking area */
}

.day20ParentDiv::-webkit-scrollbar-thumb {
  background-color: rgb(255, 109, 206); /* color of the scroll thumb */
  border-radius: 40px; /* roundness of the scroll thumb */
}
